/* Googel Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Global Variables */
:root {
    --primary-font: "Roboto Mono";
    --primary-color: #2890D0;
    /* Curious Blue */
    --secondary-color: #57C693;
    /* Emerald */
    --highlight-color: #f0f8ff;
    /* Aliceblue */
    --highlight-color-light: #fffbf8;
    /* Quill Gray */
    --light-color: #ffffff;
    /* White */
    --dark-color: #222123;
    /* Raisen Black */
}

/* Global styles */
body {
    font-family: var(--primary-font, serif), serif;
}

h1,
h2,
h3 {
    font-family: var(--primary-font, serif), serif;
}

h1 {
    color: var(--primary-color);
    font-weight: bold !important;
}

.action-button {
    background-color: var(--primary-color);
    border: unset;
    color: var(--light-color);
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 29%);
}

.action-button-secondary {
    background-color: var(--secondary-color);
    color: var(--light-color);
    border: unset;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 29%);
}

.action-button:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background: transparent;
}

.action-button-secondary:hover {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    background: transparent;
}

.hide {
    display: none;
}

/* Navbar */
#navbar {
    background-color: var(--highlight-color-light) !important;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 29%);
    width: 100%;
    z-index: 2;
}

/* Header */
header {
    margin-top: 3rem;
    padding: 5rem 5rem 1rem;
}

.lead {
    font-size: 1rem;
    font-weight: 400;
}

.hero-image img {
    width: 96%;
}

/* Footer */
footer {
    background-color: var(--highlight-color-light) !important;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 33%);
}

/* Teachers section */
#teachers-table {
    min-height: 100px;
}

/* Classes section */
#classes-list-section .card {
    border: unset;
    padding: 1rem 0;
}

#classes-list-section .card .card-body {
    height: 300px;
    display: flex;
    margin: auto;
    padding: 2rem 3rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    flex-direction: column;
    box-shadow: 2px 5px 8px rgb(0 0 0 / 30%);
}

#classes-list-section .card .card-body .action-button-secondary:hover {
    color: var(--light-color);
    border-color: var(--light-color);
}

/* Schedule reservations section */
#reservations-list-section .day .day-name{
    padding: 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--light-color);
}


#reservations-list-section .day .time-slots .slot,
#reservations-list-section .times .time,
#reservations-list-section .day .time {
    padding: 2rem;
    text-align: center;
    border: 1px solid var(--dark-color);
}

#reservations-list-section .day .time-slots .slot:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
}

#reservations-list-section .day .time-slots .slot-disabled{
    background-color: var(--highlight-color);
}

/* Brekpoint */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* Classes section */
    #classes-list-section .card {
        padding: 2rem 0;
    }

    #classes-list-section .card .card-body {
        padding: 2rem 5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* Teachers section */
    #teachers-table {
        width: 80%;
    }
}